.container1 {
  border: 2px solid rgb(5, 5, 88);
  height: 200px;
  width: 1000px;
  color: white;
  background-color: rgb(5, 5, 88);
  margin: 20px auto;
  text-align: center;
  padding: 60px;
  border-radius: 20px;
  
  
}

h1 {
  font-size: 80px;
  font-weight: 100;
  float: right;
}

img {
  float: left;
}

.form {
  width: 1000px;
  margin: 10px auto;
  border: 2px solid grey;
  border-radius: 20px;
}

.form2 {
  width: 1000px;
  height: 100px;
  margin: 10px auto;
  border: 2px solid grey;
}

.form-group {
  margin: 10px 0 0 15px;
}

#end-year {
  margin-bottom: 15px;
}

